{{#sq-file-droplet-s3

	model=model
	parameter=parameter
	saveremove=saveremove
	required=required
	authentication=authentication
	namespace=namespace
	change='change'
	value=value

	as |open failed dragging uploading percentage processing working saving deleting delete|

	}}

	{{#if working}}

		{{#if uploading}}
			{{sq-input-text disabled=true placeholder=percentage}}
		{{else if processing}}
			{{sq-input-text disabled=true placeholder='Processing'}}
		{{else if saving}}
			{{sq-input-text disabled=true placeholder='Saving'}}
		{{else if deleting}}
			{{sq-input-text disabled=true placeholder='Deleting'}}
		{{/if}}

	{{else}}

		{{sq-input-text click=(action open) required=required placeholder=placeholder value=value.filename}}

	{{/if}}

	{{#if value}}
		<button class="delete" {{action (action delete)}}>Delete</button>
	{{/if}}

{{/sq-file-droplet-s3}}
